@charset "utf-8";
#s5 {
  width: 100%;
  min-width: 1180px;
  height: 197px;
  background-color: #fafafa;
}
#s5 .inner {
  width: 1180px;
  height: 179px;
  margin: 0 auto;
  padding-top: 16px;
  border-bottom: 2px solid #f4f4f4;
}
#s5 .tit {
  height: 26px;
  display: block;
  margin-bottom: 20px;
  line-height: 26px;
  font-size: 16px;
  color: #A8B0B9;
  font-weight: normal;
  letter-spacing: 1px;
}
#s5 .list {
  margin-left: -30px;
}
#s5 .list .a {
  width: 120px;
  height: 48px;
  float: left;
  padding-bottom: 22px;
  margin-left: 30px;
}
#s5 .list .more {
  padding-bottom: 0;
  padding-top: 15px;
  text-align: center;
  color: #adb5bd;
}
#s5 .list .img {
  width: 120px;
  height: 48px;
  display: block;
}
.foot {
  width: 100%;
  min-width: 1180px;
  height: 114px;
  padding: 20px 0 40px;
  font-family: \5B8B\4F53;
  background-color: #fafafa;
}
.foot .inner {
  text-align: center;
  color: #A8B0B9;
  line-height: 20px;
}
.foot .list {
  height: 20px;
  margin-bottom: 14px;
}
.foot a {
  color: #A8B0B9;
}
.foot .list a {
  margin-left: 25px;
}
.foot .list a.about {
  margin-left: 0;
}
.foot .copyright {
  height: 20px;
}
